body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(56, 56, 56), rgb(102, 102, 102), rgb(150, 150, 150));
}

.main {
    position: relative;
    height: 690px;
    width: 690px;
    background-color: rgb(103, 59, 23);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -10px -10px 20px 0px rgb(198, 161, 131),
    10px 10px 20px 0px rgb(50, 29, 11),
    inset  3px 3px 10px 0px rgb(198, 161, 131),
    inset -5px -5px 15px 0px rgb(50, 29, 11);
}

.board {
    position: relative;
    height: 640px;
    width: 640px;
    background-color: #CCC;
}

.board .square {
    position: relative;
    height: 80px;
    width: 80px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 70px;
    cursor: pointer;
}

img:hover {
    filter: drop-shadow(0 0 15px #ffff00);
}

.board .square:nth-child(16n + 1),
.board .square:nth-child(16n + 3),
.board .square:nth-child(16n + 5),
.board .square:nth-child(16n + 7),
.board .square:nth-child(16n + 10),
.board .square:nth-child(16n + 12),
.board .square:nth-child(16n + 14),
.board .square:nth-child(16n + 16) {
    background-color: rgb(59, 35, 13);
}

.board .square:nth-child(16n + 2),
.board .square:nth-child(16n + 4),
.board .square:nth-child(16n + 6),
.board .square:nth-child(16n + 8),
.board .square:nth-child(16n + 9),
.board .square:nth-child(16n + 11),
.board .square:nth-child(16n + 13),
.board .square:nth-child(16n + 15) {
    background-color: rgb(223, 167, 122);
}